<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action="/registration">-->
<!--&lt;!&ndash;        <p>username<input name="username" type="text" value="abc"/></p>&ndash;&gt;-->
<!--&lt;!&ndash;        <p>password<input name="password" type="text" value="qwerty"/></p>&ndash;&gt;-->
<!--        <input type="submit" value="registration"/>-->
<!--    </form>-->
<!--    <form action="/login">-->
<!--&lt;!&ndash;        <p>username<input name="username" type="text" value="abc"/></p>&ndash;&gt;-->
<!--&lt;!&ndash;        <p>password<input name="password" type="text" value="qwerty"/></p>&ndash;&gt;-->
<!--        <input type="submit" value="login"/>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->

<!--.wrapper-->
<!--  h1.glitch Easy AI-->


<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
<html lang="en" dir="ltr">
<!--   <script src="/javascript/home.js"></script>-->
   <head>
      <meta charset="utf-8">
<!--      <title>Text Glitch Effect | CodingNepal</title>-->
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      <div class="content">
         <h2 class="text" data-text="Easy AI">
            Easy AI
         </h2>
      </div>
      <button class="buttons" onclick="document.location='/chat'">Хочешь историю?</button>
   </body>
</html>