<html>
<body>
<div>
    <h2>AI_HUB//:login</h2>
    <button class="buttons" onclick="document.location='/home'">Home</button>
    <h3>{{ flash }}</h3>
    <form action="/login" method="POST">
        <div>
            <input name="username" type="text" value=""/>
            <label>Username</label>
        </div>
        <div>
            <input name="password" type="text" value=""/>
            <label>password</label>
        </div>
        <input type="submit" value="Login"/>
    </form>
</div>
</body>
</html>