<html>
<body>
<div>
    <h2>AI_HUB//:registration</h2>
    <button class="buttons" onclick="document.location='/home'">Home</button>
    <h3>{{ flash }}</h3>
    <form action="/registration" method="POST">
        <div>
            <input name="username" type="text" value=""/>
            <label>Username</label>
        </div>
        <div>
            <input name="password" type="text" value=""/>
            <label>password</label>
        </div>
        <div>
            <input name="verify_password" type="text" value=""/>
            <label>verify password</label>
        </div>
        <input type="submit" value="Registration"/>
    </form>
</div>
</body>
</html>

<!--<div class="registration-box">-->
<!--&lt;!&ndash;    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">&ndash;&gt;-->
<!--    <h2>Registration</h2>-->
<!--    <form action="/registration" method="POST">-->
<!--        <div class="user-box">-->
<!--            <input type="text" name="" required="">-->
<!--            <label>Username</label>-->
<!--        </div>-->
<!--        <div class="user-box">-->
<!--            <input type="text" name="" required="">-->
<!--            <label>Password</label>-->
<!--        </div>-->
<!--        <div class="user-box">-->
<!--            <input type="text" name="" required="">-->
<!--            <label>Password</label>-->
<!--        </div>-->
<!--        <input type="submit" value="Calculate"/>-->
<!--    </form>-->
<!--</div>-->