.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: "Onest";
  font-weight: 700;
  line-height: 150%;
}
.feature-card-text1 {
  font-size: 16px;
  font-style: normal;
  font-family: "Onest";
  font-weight: 500;
  line-height: 150%;
}

@media(max-width: 1600px) {
  .feature-card-text {
    font-style: normal;
    font-family: Onest;
    font-weight: 700;
  }
  .feature-card-text1 {
    font-style: normal;
    font-family: Onest;
    font-weight: 500;
  }
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}
